-#
-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By:
-# Maintained By:
-#
-extends 'layouts/base.haml'

-macro dropup_create_new(type, type_plural, type_model=None)
  -set type_model = type_model or type|nospace
  %li
    %a{ 'href': "javascript://", 'data-toggle': 'modal-ajax-form', 'data-modal-reset': 'reset', 'data-form-target': 'redirect', 'data-modal-class': 'modal-wide', 'data-object-singular' : '={type_model}', 'data-object-plural' : '={type_plural}' }
      {{ type }}
-endmacro

-macro search_result(type, type_plural, li_class='')
  %li{ 'class': ['{{ li_class }}', 'accordion-group'] }
    %a{ 'href': '#={ type_plural|underscore }_sub_level', 'class': '={li_class}', 'data-toggle' : "collapse", 'data-parent' : ".top-level", 'data-object-singular' : '={type}' }
      %i{ 'class': 'grcicon-{{ type|lower|nospace }}-color' }
      {{ type_plural|title }}
      %small
        (
        %span.item-count> ...
        )
    .extended.fade
    %ul.sub-level.collapse{ 'id' : '={ type_plural|underscore }_sub_level'}
-endmacro

-block page_help scoped

-block body
  -# FIXME: Fix page_type_attributes, etc
  -#{ page_type_attributes, :class => "#{has_feature?(:BETA) ? 'BETA' : ''}" }
  %body{ 'data-target': '.inner-nav', 'data-spy': 'scroll' }

    %header.header.main
      .header-bar
        .container-fluid
          .row-fluid
            .span12
              .logo.pull-left
                %a{ 'href': "/dashboard" }
                  -#FIXME: Company logo/name
                  -set logo_url = config.get("COMPANY_LOGO")
                  -set logo_text = config.get("COMPANY_LOGO_TEXT")
                  -if logo_url
                    %img{ "src" : "#{logo_url}", 'alt' : 'GRC', 'title' : 'GRC'}
                  -elif logo_text != None
                    =logo_text
                  -else
                    Google GRC
              %ul.menu
                %li.black-link
                  %a{ 'href': "javascript://", 'data-toggle': 'modal-ajax', 'data-modal-type': 'helpform', 'data-help-slug' : '{{ self.page_help()|trim }}'}
                    %i.grcicon-help
                    %span
                      Help
                %li.user.dropdown.dropdown-black.black-link
                  %a.dropdown-toggle{ 'href': "#", 'data-toggle': "dropdown", 'role': "button" }
                    %i.grcicon-user
                    %span
                      -# FIXME: Use actual account information
                      %strong
                        =current_user.email
                    %i.grcicon-carot-white
                  %ul.dropdown-menu{'aria-labelledby': 'drop1', 'role': "menu"}
                    -# FIXME: Restrict view to administrators
                    -#if current_user.can_admin?
                    -# FIXME: Fix link
                    %li
                      %a{'href': "/admin"}
                        %i.grcicon-admin
                        Admin Dashboard
                    %li
                      %a.clear-display-settings{'href': "javascript://", 'tabindex': "-1"}
                        %i.grcicon-desktop
                        Reset Layout to Default
                    %li
                      %a.set-display-settings-default{'href': "javascript://", 'tabindex': "-1"}
                        %i.grcicon-desktop
                        Set Layout as Default
                    %li
                      -# FIXME: Fix link
                      %a{'href': '={ url_for("logout") }', 'tabindex': "-1"}
                        %i.grcicon-logout
                        Logout
    .clearfix
      .lhs-holder
        .affix-holder{ 'data-spy': 'affix', 'data-offset-top': '1' }
          #lhs.lhs.accordion
            .bar-v
            -#NEW LHS
            .lhs-search
              %input{ 'type': 'text', 'class': 'input-block-level widgetsearch', 'placeholder': 'Search...' }
            .lhs-bg
            .lhs-nav.emphesized
              %ul.top-level
                =search_result('Program', 'programs', 'programs')   
            .lhs-nav
              %h2.governance Governance
              %ul.top-level
                =search_result('Control', 'controls', 'governance')
                =search_result('Objective', 'objectives', 'governance')
                =search_result('Contract', 'contracts', 'governance')
                =search_result('Policy', 'policies', 'governance')
                =search_result('Regulation', 'regulations', 'governance')
              %h2.business Assets/Business
              %ul.top-level
                =search_result('Process', 'processes', 'business')
                =search_result('System', 'systems', 'business')
                =search_result('OrgGroup', 'org groups', 'business')
                =search_result('Project', 'projects', 'business')
                =search_result('Facility', 'facilities', 'business')
                =search_result('Product', 'products', 'business')
                =search_result('DataAsset', 'data assets', 'business')
                =search_result('Market', 'markets', 'business')
              %h2.risk Risk Management
              %ul.top-level
                =search_result('Risk', 'risks', 'risk')
                =search_result('RiskyAttribute', 'risky attributes', 'risk')
            .bar-h
            -#.lhs-nav
              -#%h2 My Work
            -#.bar-h
            .lhs-nav.recent
              %h2 Recently Viewed
              %ul.top-level

            .bar-h
      .area{ 'class': '={ model_display_class }' }
        .header-content{ 'data-spy': 'affix', 'data-offset-top': '1' }
          .row-fluid
            .span9
              -block header
            .span3
              -block subheader_extras

        %section.content
          .flash
            -#FIXME: Flash messages
            -#flash.each do |type, value|
              -value = [value] unless value.is_a?(Array)
              -value = value.map(:presence).compact
              -if value.size > 0
                %div{ 'class': type }
                  %a.close{'href': "#{}", :'data-dismiss': "alert"}
                    &times;
                  -value.each do |message|
                    %p=message
          -block main
        %section.footer
          .row-fluid
            .span12
              %ul.bottom-nav.pull-left
                -#FIXME: demo mode?
                -#%li
                  -if controller_name == 'design'
                    -path = dashboard_path
                  -else
                    -path = request.fullpath
                  -path = path.gsub(/BETA=[^&]*&?/, '').sub(/[?&]$/, '')
                  -path += path.include?('?') ? '&' : '?'
                  -if has_feature? 'BETA'
                    %a.demo-hide{ 'href': "#{path}BETA=0" }
                      Hide Demo
                  -else
                    %a.demo-show{ 'href': "#{path}BETA=1" }
                      Show Demo
              %p
                -#FIXME: Copyright footer
                -#=CMS_CONFIG['COMPANY']
                Confidential.
                Copyright &copy;
                -#=Time.now.year
                =config.get('COMPANY')
                Version
                =config.get('VERSION')
